# Python garbage
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# MacOS garbage
.DS_Store

# Data & Models
# Данные не храним, модель генерируется скриптом
data/
app/models/*.pkl

# Docker
.docker_temp/
